# match a path with no file extension, serving index.html
location ~ ^\/###WEBPATH###[^.]*$ {
	root ###ROOT_DIR###;
	try_files $uri /###WEBPATH###/index.html =404;
}

# match a path with a file extension, serve the actual file
location ~ ^\/###WEBPATH###\/.*\.[^.]+$ {
	root ###ROOT_DIR###;
	try_files $uri =404;
}

