# match a path with no file extension, serving index.html
location /###WEBPATH### {
	alias ###ROOT_DIR###/;
	try_files $uri $uri/index.html =404;
}

# match a path with a file extension, serve the actual file
# this is optional and serves to force a 404 rather than sending index.html for all non existent files
location ~ ^/###WEBPATH###(.*\.[^.]+)$ {
	alias ###ROOT_DIR###/;
	try_files $1 =404;
}
