server {
	listen 443 ssl;
	listen [::]:443 ssl;
	
	ssl_certificate ###SSL_CERT_FULLCHAIN###;
	ssl_certificate_key ###SSL_CERT_KEY###;

	root ###DEFAULT_ROOT###;
	index index.html index.htm;

	server_name ###DOMAIN_NAME###;

###APP_LOCATION_BLOCKS###
}
